<div class="container">
    <div class="thumbnails firefox-scrollbar">
        <ng-container *ngFor="let image of images; let i = index">
            <img #thumbnails id="thumbnail-{{i}}" src="{{image}}" alt="thumbnail-{{i}}" (click)="showSelectedPicture(i)"
                [ngClass]="selectedPic === image ? 'selected-thumbnail':''">
        </ng-container>
    </div>
    <div class="show-picture" *ngIf="selectedPic">
        <img #selectedPicRef src="{{selectedPic}}" alt="picture">
    </div>
</div>