.container {
    height: var(--menu-height);
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px 3px var(--primary-color-dark);

}

.left-side {
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
}

.right-side {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
}

a {
    color: var(--primary-color-text);
    border-bottom: 2px solid transparent;
    font-size: larger;
}

a:hover,
.active {
    border-bottom: 2px solid var(--primary-color-text);
}