.container {
    height: 95vh;
    display: flex;
}

.works {
    width: 70%;
    margin: 0.3rem 0 0.3rem 0.3rem;
}

.work-details {
    margin: 0.3rem 0.3rem 0.3rem 0;
    width: 30%;
    box-shadow: inset 0 0 5px 1px var(--primary-color-hint);
    border-radius: 0.3rem;
}

.works table {
    width: 100%;
    cursor: pointer;
    font-size: large;
}

.works table th {
    background: var(--primary-color);
}

.works table td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    background: var(--primary-color-light);
}

.works table tbody tr:hover * {
    background: var(--primary-color);
}