<div class="container">
    <div class="works">
        <table>
            <thead>
                <tr>
                    <th>{{lang['Table_Label_Id']}}</th>
                    <th>{{lang['Table_Label_Owner']}}</th>
                    <th>{{lang['Table_Label_Type']}}</th>
                    <th>{{lang['Table_Label_Issue']}}</th>
                    <th>{{lang['Table_Label_Assigned']}}</th>
                    <th>{{lang['Table_Label_Sate']}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let ticket of tickets">
                <tr class="detail-row" (click)="showWorkDetails(ticket.id)">
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.owner}}</td>
                    <td>{{ticket.type}}</td>
                    <td>{{ticket.issue}}</td>
                    <td>{{ticket.assigned}}</td>
                    <td>{{ticket.state}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=" work-details">
        <app-detail-ticket [test]="testOut"></app-detail-ticket>
    </div>
</div>