<div class="container">
    <div class="works">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Issue</th>
                    <th>Assigned</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr class="detail-row" (click)="showWorkDetails('test1')">
                    <td>ABC74646</td>
                    <td>Nagy Lajos</td>
                    <td>Laptop</td>
                    <td>Törött Kijelző</td>
                    <td>testWorker</td>
                    <td>Folyamatban</td>
                </tr>
                <tr class="detail-row" (click)="showWorkDetails('test2')">
                    <td>CCC78886</td>
                    <td>Nagy Endre</td>
                    <td>PC</td>
                    <td>Nem Azonosított</td>
                    <td>testWorker2</td>
                    <td>Alkatrészre vár</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=" work-details">
        <app-detail-ticket [test]="testOut"></app-detail-ticket>
    </div>
</div>