<div class="container" *ngIf="_ticket" #details>
    <div class="view-controls">
        <img class="fullscreen-icon" src="assets/Pictures/fullscreen.svg" alt="fullscreen-ico" (click)="goFullscreen()"
            *ngIf="!isFullscreen">
        <img class="fullscreen-icon" src="assets/Pictures/close_fullscreen.svg" alt="close-fullscreen-ico"
            (click)="goCompactView()" *ngIf="isFullscreen">
    </div>
    <p>{{_ticket.owner.fullname}} {{_ticket.type}}</p>
    <app-image-viewer [images]="_ticket.pictures"></app-image-viewer>
    <div class="details">

    </div>
</div>