.container {
    width: 100%;
    height: calc(var(--content-height) - 0.3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    background: var(--backgound-color);

}

.view-controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    padding: 0;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    gap: 2rem;
    cursor: pointer;
}

.title {
    font-weight: 700;
}

.fullscreen-icon {
    height: 2rem;
}

.fullscreen-icon:hover {
    transform: scale(1.2);
}