.conatiner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form {
    width: max-content;
    background-color: rgb(27, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 3px black;

}

.username,
.password,
.email {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}

input {
    border-radius: 0.3rem;
    font-size: large;
    border: none;
    background-color: rgb(84, 97, 99);
    color: white;

}

input:focus {
    border: none;
    outline: 2px solid rgb(84, 157, 199);
}

.change-login-or-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.language-selector {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.language-selector img {
    cursor: pointer;
}