.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form {
    width: 400px;
    margin: 0.3rem;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 3px var(--primary-color-hint);
}

.username,
.password,
.email {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}


.change-login-or-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.language-selector {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.language-selector img {
    cursor: pointer;
}

.requirements {
    margin: 0.1rem;
    margin-left: 0.3rem;
    font-size: small;
    font-weight: 500;
    color: var(--suggestion-color);
}

.check-icon {
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
    background-color: var(--success-color);
    -webkit-mask: url('/assets/Pictures/check.svg') no-repeat center;
    mask: url('/assets/Pictures/check.svg') no-repeat center;
}