<div class="container">
    <div class="language-selector">
        <img src="assets/Pictures/flag-english.png" alt="flag_english" (click)="setLanguage('en')">
        <img src="assets/Pictures/flag-hungary.png" alt="flag_hungary" (click)="setLanguage('hu')">
    </div>

    <datalist id="usernames">
        <option *ngFor="let option of setPlaceholderUsersFromLocalstorage()" [value]="option">{{option}}
        </option>
    </datalist>

    <form [formGroup]="loginForm" class="form" *ngIf="showLoginForm">
        <div class="username">
            <label for="username">{{lang['Login_Username']}}:</label>
            <input type="text" id="username" name="username" formControlName="username" list="usernames">
        </div>
        <div class="password">
            <label for="password">{{lang['Login_Password']}}:</label>
            <input type="password" id="password" name="password" formControlName="password">
        </div>

        <div class="change-login-or-register">
            <p>{{lang['Btn_Register_Text']}}</p>
            <a (click)="changeForm()">{{lang['Btn_Register']}}</a>
        </div>

        <div class="btn-area">
            <button class="btn" type="button" (click)="startLogin()">{{lang['Btn_Login']}}</button>
        </div>
    </form>

    <form [formGroup]="registrationForm" class="form" *ngIf="!showLoginForm">
        <div class="username">
            <label for="username">{{lang['Login_Username']}}:</label>
            <input type="text" id="username" name="username" formControlName="username">
        </div>
        <div class="email">
            <label for="email">{{lang['Login_Email']}}:</label>
            <input type="email" id="email" name="email" formControlName="email">
        </div>
        <div class="password">
            <label for="password">{{lang['Login_Password']}}:</label>
            <input type="password" id="password" name="password" formControlName="password">
        </div>
        <div class="password">
            <label for="confirmPassword">{{lang['Login_Confirm_Password']}}:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
        </div>

        <div class="change-login-or-register">
            <p>{{lang['Btn_Login_Text']}}</p>
            <a (click)="changeForm()">{{lang['Btn_Login']}}</a>
        </div>

        <div class="btn-area">
            <button class="btn" type="button" (click)="startRegister()">{{lang['Btn_Register']}}</button>
        </div>
    </form>
    <app-pending [isPending]="isPending"></app-pending>
    <div appNotification [notification$]="notification$"></div>
</div>