@font-face {
    font-family: 'Anuphan';
    src: url('./assets/Fonts/Anuphan/Anuphan-VariableFont_wght.ttf');
}

:root {
    --backgound-color: linear-gradient(to bottom, #2b88a5, #2446a3, #096075);
    --primary-color: linear-gradient(to bottom, #0d485e, rgb(9, 43, 94));
    --primary-color-light: linear-gradient(to bottom, #136d8d, rgb(16, 69, 148));
    --primary-color-hint: rgb(2, 20, 70);
    --secondary-color: #ffffff;
    --input-color: rgb(0, 24, 54);
    --btn-color-default: linear-gradient(to bottom, #098ab9, rgb(7, 79, 187));
    --btn-color-hover: linear-gradient(to bottom, #860e9e, rgb(7, 79, 187));
    --suggestion-color: wheat;
    --success-color: green;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--secondary-color);
    background: var(--backgound-color);
    font-family: 'Courier';
}

a {
    color: magenta;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    border-radius: 0.7rem;
    background: var(--btn-color-default);
    border: none;
    color: var(--secondary-color);
    padding: 0.2rem 0.6rem;
    font-family: 'Anuphan';
    font-weight: 400;
    cursor: pointer;
    font-size: large;
}

.btn:hover {
    background: var(--btn-color-hover);
}

p {
    cursor: default;
}

input {
    border-radius: 0.3rem;
    font-size: large;
    border: none;
    background-color: var(--input-color);
    color: var(--secondary-color);
}

input:focus {
    border: none;
    outline: 2px solid rgb(84, 157, 199);
}

.notification-ok {
    color: #030303;
    background-color: #046b1c;
    box-shadow: inset 0 0 2px 2px rgb(1, 65, 1);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    position: fixed;
}

.notification-error {
    color: #030303;
    background-color: #6b0404;
    box-shadow: inset 0 0 2px 2px rgb(70, 8, 0);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    position: fixed;
}