@font-face {
    font-family: 'Anuphan';
    src: url('./assets/Fonts/Anuphan/Anuphan-VariableFont_wght.ttf');
}

:root {
    --backgound-color: linear-gradient(to bottom, #2b88a5, #2446a3, #096075);
    --primary-color: #2b537e;
    --secondary-color: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--secondary-color);
    background: var(--backgound-color);
    font-family: 'Courier';
}

a {
    color: magenta;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    border-radius: 0.7rem;
    background-color: #074764;
    border: none;
    color: #ffffff;
    padding: 0.2rem 0.6rem;
    font-family: 'Anuphan';
    font-weight: 400;
    cursor: pointer;
    font-size: large;
}

.btn:hover {
    background-color: #0b6994;
}

p {
    cursor: default;
}