@font-face {
    font-family: 'Anuphan';
    src: url('./assets/Fonts/Anuphan/Anuphan-VariableFont_wght.ttf');
}

:root {
    //colors
    --background-color: linear-gradient(to bottom, #2b88a5, #2446a3, #096075);
    --primary-color: linear-gradient(to bottom, #0d485e, rgb(9, 43, 94));
    --primary-color-dark: rgb(7, 33, 73);
    --primary-color-light: rgb(16, 79, 173);
    --primary-color-text: #ffffff;
    --warn-color: wheat;
    --success-color: green;
    --btn-color-default: linear-gradient(to bottom, #098ab9, rgb(7, 79, 187));
    --btn-color-hover: linear-gradient(to bottom, #860e9e, rgb(7, 79, 187));
    --scrollbar-color-1: rgb(7, 79, 187);
    --scrollbar-color-2: rgb(8, 54, 92);

    //sizes
    --split-content-width-left: 70vw;
    --split-content-width-right: calc(100vw - var(--split-content-width-left));

    --menu-height: 4vh;
    --content-height: calc(100vh - var(--menu-height));
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color-text);
    background: var(--background-color);
    font-family: 'Courier';
}

a {
    color: magenta;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    border-radius: 0.7rem;
    background: var(--btn-color-default);
    border: none;
    color: var(--secondary-color);
    padding: 0.2rem 0.6rem;
    font-family: 'Anuphan';
    font-weight: 400;
    cursor: pointer;
    font-size: large;
}

.btn:hover {
    background: var(--btn-color-hover);
}

p {
    cursor: default;
}

input {
    border-radius: 0.3rem;
    font-size: large;
    border: none;
    background: var(--primary-color-dark);
    color: var(--primary-color-text);
}

input:focus {
    border: none;
    outline: 2px solid rgb(84, 157, 199);
}

.notification-ok {
    color: #030303;
    background-color: #046b1c;
    box-shadow: inset 0 0 2px 2px rgb(1, 65, 1);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    position: fixed;
}

.notification-error {
    color: #030303;
    background-color: #6b0404;
    box-shadow: inset 0 0 2px 2px rgb(70, 8, 0);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    position: fixed;
}

/* Use the same styles as for Chrome */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollbar-color-1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-2);
    border-radius: 5px;
}

/* Custom scrollbar styles for Firefox */
.firefox-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color-2) var(--scrollbar-color-1);
}